@import './styles/globals.css';

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Outfit, ui-sans-serif, system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
